<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <link rel="stylesheet" href="../public/assets/css/addAlcohol.css" />

    <title>Buzz Buddy</title>

    <link rel="shortcut icon" href="/assets/images/logo1.png" />

</head>

<body>

    <table class="table table-bordered mx-auto mt-5">

        <tbody>

            <tr>

                <td>
                    <a href=""><img class="alcohol-img" src="../public/assets/images/beer.png" alt=""></a>
                    <span class="alcohol-type">Beer</span>
                </td>
                <td>
                    <a href=""><img class="alcohol-img" src="../public/assets/images/bloodyMary.png" alt=""></a>
                    <span class="alcohol-type">Bloody Mary</span>
                </td>
                <td>
                    <a href=""><img class="alcohol-img" src="../public/assets/images/bourbon.png" alt=""></a>
                    <span class="alcohol-type">Burbon</span>
                </td>
                <td>
                    <a href=""><img class="alcohol-img" src="../public/assets/images/champagne.png" alt=""></a>
                    <span class="alcohol-type">Champagne</span>
                </td>
                <td>
                    <a href=""><img class="alcohol-img" src="../public/assets/images/cider.png" alt=""></a>
                    <span class="alcohol-type">Cider</span>
                </td>

            </tr>

            <tr>

                <td>
                    <a href=""><img class="alcohol-img" src="../public/assets/images/cocktail.png" alt=""></a>
                    <span class="alcohol-type">Cocktail</span>
                </td>
                <td>
                    <a href=""><img class="alcohol-img" src="../public/assets/images/ginTonic.png" alt=""></a>
                    <span class="alcohol-type">Gin Tonic</span>
                </td>
                <td>
                    <a href=""><img class="alcohol-img" src="../public/assets/images/margarita.png" alt=""></a>
                    <span class="alcohol-type">Margarita</span>
                </td>
                <td>
                    <a href=""><img class="alcohol-img" src="../public/assets/images/martini.png" alt=""></a>
                    <span class="alcohol-type">Martini</span>
                </td>
                <td>
                    <a href=""><img class="alcohol-img" src="../public/assets/images/mojito.png" alt=""></a>
                    <span class="alcohol-type">Mojito</span>
                </td>

            </tr>

            <tr>
                <td>
                    <a href=""><img class="alcohol-img" src="../public/assets/images/moscowMule.png" alt=""></a>
                    <span class="alcohol-type">Moscow Mule</span>
                </td>
                <td>
                    <a href=""><img class="alcohol-img" src="../public/assets/images/pilsner.png" alt=""></a>
                    <span class="alcohol-type">Pilsner</span>
                </td>
                <td>
                    <a href=""><img class="alcohol-img" src="../public/assets/images/rum.png" alt=""></a>
                    <span class="alcohol-type">Rum</span>
                </td>
                <td>
                    <a href=""><img class="alcohol-img" src="../public/assets/images/sake.png" alt=""></a>
                    <span class="alcohol-type">Sake</span>
                </td>
                <td>
                    <a href=""><img class="alcohol-img" src="../public/assets/images/sangria.png" alt=""></a>
                    <span class="alcohol-type">Sangria</span>
                </td>

            </tr>

            <tr>

                <td>
                    <a href=""><img class="alcohol-img" src="../public/assets/images/shot.png" alt=""></a>
                    <span class="alcohol-type">Shot</span>
                </td>
                <td>
                    <a href=""><img class="alcohol-img" src="../public/assets/images/tequila.png" alt=""></a>
                    <span class="alcohol-type">Tequila</span>
                </td>
                <td>
                    <a href=""><img class="alcohol-img" src="../public/assets/images/vodka.png" alt=""></a>
                    <span class="alcohol-type">Vodka</span>
                </td>
                <td>
                    <a href=""><img class="alcohol-img" src="../public/assets/images/whiskey.png" alt=""></a>
                    <span class="alcohol-type">Whiskey</span>
                </td>
                <td>
                    <a href=""><img class="alcohol-img" src="../public/assets/images/wine.png" alt=""></a>
                    <span class="alcohol-type">Wine</span>
                </td>

            </tr>

        </tbody>

    </table>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>