<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="/assets/public/css/style.css" />
    <title>Buzz Buddy</title>
    <link rel="shortcut icon" href="/assets/images/logo1.png" />
</head>

<body>

    <!-- Create a table with alcohol images are -->

    <table class="table table-striped">
        <tbody>
            <tr>
                <td><img src="../public/assets/images/beer.png" alt=""></td>
                <td><img src="../public/assets/images/bloodyMary.png" alt=""></td>
                <td><img src="../public/assets/images/bourbon.png" alt=""></td>
                <td><img src="../public/assets/images/brandy.png" alt=""></td>
            </tr>
            <tr>
                <td><img src="../public/assets/images/champagne.png" alt=""></td>
                <td><img src="../public/assets/images/cider.png" alt=""></td>
                <td><img src="../public/assets/images/cocktail.png" alt=""></td>
                <td><img src="../public/assets/images/cognac.png" alt=""></td>
            </tr>
            <tr>
                <td><img src="../public/assets/images/ginTonic.png" alt=""></td>
                <td><img src="../public/assets/images/margarita.png" alt=""></td>
                <td><img src="../public/assets/images/martini.png" alt=""></td>
                <td><img src="../public/assets/images/mojito.png" alt=""></td>
            </tr>
        
            <tr>
                <td><img src="../public/assets/images/moscowMule.png" alt=""></td>
                <td><img src="../public/assets/images/pilsner.png" alt=""></td>
                <td><img src="../public/assets/images/rum.png" alt=""></td>
                <td><img src="../public/assets/images/sake.png" alt=""></td>
            </tr>
            <tr>
                <td><img src="../public/assets/images/sangria.png" alt=""></td>
                <td><img src="../public/assets/images/shot.png" alt=""></td>
                <td><img src="../public/assets/images/tequila.png" alt=""></td>
                <td><img src="../public/assets/images/vodka.png" alt=""></td>
            </tr>
        
            <tr>
                <td><img src="../public/assets/images/whiskey.png" alt=""></td>
                <td><img src="../public/assets/images/wine.png" alt=""></td>
            </tr>
        
        </tbody>
    </table>





    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>